body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:xx-large
}

.container {
    height: 330px;
    width: 1000px;
    position: absolute;
    top: 20%;
    left: 10%;
    background:rgba(247, 188, 27, 0.5);
    border-radius: 20px;
    padding: 20px;
    border: 5px solid lightcoral
}

.title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color:#08038C
}

.question {
    padding: 20px;
    font-size: 22px;
    background: lightskyblue;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: black
}

.option {
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 0;
    vertical-align: middle;
    background: rbga( 255,255,255,0.5);
    margin: 10px 0 10px 10px;
    color: black;
    border-radius: 20px;
}

.option:hover {
    background:lightcoral;
    color: palevioletred;
    cursor: pointer;
}

.next-btn {
    border: none;
    outline: none;
    background:rbga( 255,255,255,0.5);
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.next-btn:hover {
    background: lightcoral;
    color: red ;
}

.result {
    height: 100px;
    text-align: center;
    font-size: 75px;
}

.option input:checked .option {
    background: yellow ;
    color: black;
}