body {
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    height: 330px;
    width: 1000px;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 20px; 
}

#title {
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    color:black;
}

#question {
    padding: 20px;
    font-size: 22px;
    margin: 10px 0 10px 0;
    color: black
}

button {
    display: block;
}

/* the instruction text on the start screen */
#start {
    text-align: center;
}

/* the start button */
#start-btn {
    text-align: center;
}

/* the buttons for the answer choices */
.choices {
    color: blue
}